<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%-5level %logger{0} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ua.webapp.votingsystem" level="debug"/>
    <logger name="jdbc.sqlonly" level="info" additivity="false">
        <appender-ref ref="console"/>
    </logger>
    <logger name="jdbc.sqltiming" level="info" additivity="false"/>
    <logger name="jdbc.audit" level="info" additivity="false"/>
    <logger name="jdbc.resultset" level="info" additivity="false"/>
    <logger name="jdbc.resultsettable" additivity="false">
        <appender-ref ref="console"/>
    </logger>
    <logger name="jdbc.connection" level="fatal" additivity="false"/>

    <root level="info">
        <appender-ref ref="console"/>
    </root>
</configuration>
